.blog-header {
  line-height: 1;
  position: relative;
}

.blog-header-logo {
  display: block;
  margin: 0 auto;
  width: 280px;

  img {
    width: 100%;
  }
}

.nav-scroller {
  position: relative;
  z-index: 103;
  height: 2.75rem;
  overflow-y: hidden;

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    a {
      color: #333;
      background: #fff;
    }

    .active, a:hover {
      background: #333;
      text-decoration: none;
      color: #fff;
    }
  }

  .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
}
